.nav-list {
margin: 0;
padding: 0;
font-size: 0;
}

.list-item {
list-style-type: none;
display: inline-block;
position: relative;
background-color: rgb(252, 99, 44);
padding: 20px;
}

.link {
    
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;

}

.sub-nav-list {
    position: absolute;
    top: 40px;
    display: block;
    left: -20px
}

.sub-list-item {
    display: none;
    list-style-type: none;
    background-color: rgb(252, 99, 44);
    padding: 20px;
    
}

.list-item:hover .sub-list-item {
    display: block;
}

.sub-list-item:hover .sub-list-item2 {
    display: block;
}

.sub-list-item2:hover .sub-list-item3 {
    display: block;
}


.sub-link {
    background-color: rgb(252, 99, 44);
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}

.sub-nav-list2 {
    position: absolute;
    top: 125px;
    left: 120px;
    display: block;
    
}

.sub-list-item2 {
    display: none;
    list-style-type: none;
    background-color: rgb(252, 99, 44);
    padding: 20px;  
}

.sub-link2 {
    background-color: rgb(252, 99, 44);
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}

.sub-nav-list3 {
    position: absolute;
    top: 125px;
    left: 135px;
    display: block;
    
    
    
    
}

.sub-list-item3 {
    display: none;
    list-style-type: none;
    background-color: rgb(252, 99, 44);
    padding: 20px;  
    
}

.sub-link3 {
    background-color: rgb(252, 99, 44);
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    
    
}